@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ripple Effect */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(180, 180, 180, 0.35); /* light gray water ripple */
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

.ripple:active::after {
  animation: rippleEffect 0.5s ease-out;
}

@keyframes rippleEffect {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    transform: scale(18);
    opacity: 0;
  }
}
